.bienvenida p {
    font-size: x-large;
    color: rgb(78, 230, 116);
    font-weight: bold;
    font-style: oblique; 
    text-align: center;
    font-family: "Bungee", sans-serif;
    
}

.bienvenida {
    background-color: rgba(60, 62, 129, 0.274);
    height: 70vh;
    width: 100%;
    padding-top: 10%;
}
