.bienvenida p {
    font-size: x-large;
    color: rgb(16, 76, 155);
    text-shadow: 5px 3px white;
    font-weight: bold;
    font-style: oblique; 
    text-align: center;
    font-family: "Bungee", sans-serif;
    
}

.caja{
    
    background-image: url(/assets/imagenes/fondo.jpg);
    height: 70vh;
    width: 100%;
    padding-top: 10%;
}
.bienvenida{
    background-color: rgba(240, 255, 255, 0.63);
    margin-left: 30%;
    margin-right: 30%; 
    padding-left: 0%;   
}