/* ========================================== RESETEO GLOBAL ========================================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

a {
    all: unset;
  }
:root {
    --bac-color:  #1560c257;
}

/* ========================================== HEADER ========================================== */

.header_container{
    display: flex;
    background-color: var(--bac-color);
    height: 10vh;
    justify-content: space-between;
    align-items: center;
}

.header_container .logo{
    color: #fff;
    padding-left: 1rem;
    font-size: 2rem;
}

.header_container .logo span{
    color: rgb(16, 76, 155);
    font-weight: bold;
}

.header_container ul{
    display: flex;
    list-style-type: none;
}

.header_container li{
    cursor: pointer;
    padding: .8rem;
    font-weight: bold;
    color: #fff;
    transition: .5s;
}

.header_container li:hover:not(.active){
    background-color: var(--bac-color);
    transition: .5s;
    transform: translateY(-8%);
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,.4);
}

.header_container .active{
    background-color: var(--bac-color);
    transition: .5s;
    box-shadow: inset 0px 1px 1px 0px rgba(19, 230, 230, 0.4);
}
/*nuevo*/

.banner {
background-image: url(/assets/imagenes/fondo.jpg);
width: 100%;
height: 30vh;

}
.banner h2 {
  font-weight: bold;
  font-size: 30px;
  color: rgb(255, 255, 255);
  text-align: center;
  text-shadow: 4px 6px #0011ff;
  padding-top: 70px; 
  transition: font-size 2s;

} 
.banner h2:hover{
  font-size: 50px;
}
.grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    background-color: var(--bac-color);
    }
       
      
.carrusel {width:100%; 
    height:100%; 
    padding-bottom: 0%; 
    overflow:auto; 
    grid-column: 3 ;
    margin-top: 30px;
    font-weight: bold;
    color: blue;
    text-align: center;
    text-shadow: 2px 2px #6769f0;
    }
    
    
   .caras {width:80%;
    margin:0 auto;
    }
   
    .caras iframe {
        vertical-align: center;
       margin: 15%;
    
    }
.slide{
  max-width: 1000vw;
  position: relative;
  margin: auto;
  background-color: var(--bac-color);
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: rgba(4, 42, 122, 0.973);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(45, 120, 233, 0.8);
}


.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #112d69;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  background-color: var(--bac-color);
}

.active, .dot:hover {
  background-color: #0906db;
}


.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


@media (max-width: 1015px) {
  .prev, .next,.text {font-size: 11px;
  color: #fff;
  }
  .grid {width: 60vm;}
  .caras iframe{ 
    width: 70%;
    margin:15%;}
} 

.pie-pagina {
  width: 100%;
  background-color: var(--bac-color);
  }
.pie-pagina .caja1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr) ;
  column-gap: 50px;
  padding: 50px 0px;
  }
  .pie-pagina .caja1 .box h2{
    text-align: center;
    color: blanchedalmond;
    font-size: 20px;
  }
  .pie-pagina .caja1 .box .redes {
   text-align: center;
   
    }
 
  .pie-pagina .caja1 .box i{
    font-size: 20px;
    margin: 25px;
    border-radius: 60%;
    padding: 1%;
    box-shadow: 0 5px 10px rgb(0,0,0, .30);
    transition: .3s ease;
  }
  .fa-facebook:hover{
    background-color: #003cff;
    color: white;
    box-shadow: 0 0 5 #003cff
                0 0 25 #003cff
                0 0 60 #003cff;
  }
  .fa-instagram:hover{
      background-color: rgba(247, 10, 10, 0.925);
      color: white;
      box-shadow: 0 0 2 orange
                  0 25 0 yellow
    }
    .fa-x-twitter:hover{
      background-color: black;
      color: white;
      box-shadow: 0 0 5  black
                  0 0 25 black
                  0 0 60 black;
    }
    .pie-pagina .caja1 .box .contacto {
      text-align: center;
    }
    .pie-pagina .caja1 .box .contacto p {
      text-align: center;
      padding-top: 25px;
      color:rgb(10, 59, 194);
      font-weight: bold;
      font-style: oblique;
      
       }
       .pie-pagina .caja2 {
        text-align: center;
        padding-bottom: 10px;
        font-size: 15px;
        font-weight: bolder;
        font-style: oblique;
        color: black;
         }   